{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
      "react/jsx-curly-spacing": { "when": "always" },
      "import/extensions": "never"
  },
  "globals": {
    "graphql": true
  }
}
